# Pandas
[Source#1](https://www.tutorialspoint.com/python_pandas/)

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. The name Pandas is derived from the word Panel Data – an Econometrics from Multidimensional data.

In 2008, developer Wes McKinney started developing pandas when in need of high performance, flexible tool for analysis of data.

## Data Structure
- Series - 1 Dimention -- Series is a one-dimensional array
- DataFrame - 2 Dimention
  -- DataFrame is a two-dimensional array with heterogeneous data
- Panel - 3 Dimention -- Panel is a three-dimensional data structure with heterogeneous data

### Series Data Structure

##### Create a Empty Series

In [1]:
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

##### Create a Series from ndarray

In [2]:
import numpy as np

data  = np.array(['a','b','c','d','e'])
s     = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [3]:
s_idx = pd.Series(data, index=[100,101,102,103,104])
print(s_idx)

100    a
101    b
102    c
103    d
104    e
dtype: object

##### Create a Series from dict

In [4]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
print s

a    0.0
b    1.0
c    2.0
dtype: float64

In [5]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
print s

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

##### Create a Series from Scalar

In [6]:
s = pd.Series(5, index=['a',2,'name',4,5])
print(s)

a       5
2       5
name    5
4       5
5       5
dtype: int64

##### Accessing Data from Series with position

In [7]:
s = pd.Series([1,2,3,4,5], index=['a','b',3,4,'idx'])
print(s)

a      1
b      2
3      3
4      4
idx    5
dtype: int64

In [8]:
s['idx']

5

In [9]:
s[2]

3

In [10]:
s[1:3]

b    2
3    3
dtype: int64

In [11]:
s[:3]

a    1
b    2
3    3
dtype: int64

In [12]:
s[-3:]

3      3
4      4
idx    5
dtype: int64

In [13]:
s[['a', 'b']]

a    1
b    2
dtype: int64

### DataFrame Data Structure
DataFrame is two-dimensional data structure
    - Potentially columns are of different types
    - Size – Mutable
    - Labeled axes (rows and columns)
    - Can Perform Arithmetic operations on rows and columns
![img](https://www.tutorialspoint.com/python_pandas/images/structure_table.jpg)

##### Create Empty DataFrame

In [14]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

##### Create DataFrame from List

In [15]:
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [16]:
data = [['Melody', 4], ['Mahdi', 34], ['Maryam', 34]]
df = pd.DataFrame(data)
print(df)

        0   1
0  Melody   4
1   Mahdi  34
2  Maryam  34

In [17]:
data = [['Melody', 4],['Mahdi', 34], ['Maryam', 34]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)

     Name  Age
0  Melody    4
1   Mahdi   34
2  Maryam   34

In [18]:
data = [['Alex', 10], [1,2,3,4,5]]
df = pd.DataFrame(data)
print(df)

      0   1    2    3    4
0  Alex  10  NaN  NaN  NaN
1     1   2  3.0  4.0  5.0

##### Create a DataFrame from Dict of ndarray / List

In [19]:
data = {'name': ['Melody', 'Mahdi', 'Maryam'], 'Age': [4,34,34]}
df = pd.DataFrame(data)
print(df)

   Age    name
0    4  Melody
1   34   Mahdi
2   34  Maryam

In [20]:
df = pd.DataFrame(data, index=['rank1', 'rank2','rank3'])
print(df)

       Age    name
rank1    4  Melody
rank2   34   Mahdi
rank3   34  Maryam

In [21]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print df1
print df2

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

# PANEL and ...

# Basic Funtionality

In [36]:
s = pd.Series(np.random.randn(10))
print(s)
print(s.axes)

a = s.axes

0    1.049670
1   -0.558312
2   -0.454707
3   -1.038599
4   -2.224802
5   -0.479216
6    1.396512
7    0.207327
8    0.032524
9   -1.042468
dtype: float64
[RangeIndex(start=0, stop=10, step=1)]

In [37]:
s.empty

False

In [38]:
s.ndim

1

In [39]:
s.size

10

In [44]:
s.values

array([ 1.04966988, -0.5583117 , -0.45470681, -1.03859875, -2.22480199,
       -0.4792162 ,  1.39651225,  0.20732675,  0.03252358, -1.04246834])

In [45]:
print s.values[2]
print s[2]

-0.454706813211
-0.454706813211